# 아래 값은 generate-local-jwt-env.sh 실행 후 생성되는 .env 예시 형식이다.
JWT_ISSUER=https://api.jariyo.local
JWT_AUDIENCE=jariyo-web
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nREPLACE_WITH_ESCAPED_PUBLIC_KEY\n-----END PUBLIC KEY-----
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_ESCAPED_PRIVATE_KEY\n-----END PRIVATE KEY-----
